<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{titulo}}</h1> <!-- {{titulo}} hace referencia a la clave con su valor que le pasamos al template en views, la idea de esto es traer datos de la base de datos y mostrarlos aqui-->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis alias velit eaque cupiditate aliquid doloribus facere autem vitae reiciendis veniam veritatis aperiam quis, molestias exercitationem modi, commodi accusamus corrupti non.</p>
        <footer><p>Web creates by {{username}} </p></footer>
    </div>
</body>
</html>