<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="indexstyle.css">
    <script src="https://kit.fontawesome.com/ed98cf0fbe.js" crossorigin="anonymous"></script>
    <title>nacho.avi.blog</title>
</head>
<body>
    <header>
        <nav class="navi">
            <ul class="navi__list">
                <li class="navi__list-li"><a href="index.html">Inicio</a></li>
                <li class="navi__list-li"><a href="CSSnotes.html">Apuntes CSS</a></li>
                <li class="navi__list-li"><a href="JSnotes.html">Apuntes JavaScript</a></li>
            </ul>
        </nav>
    </header>

    <article class="presentArticle">
        <section class="presentArticle__section">
            <img src="img/perfil.jpg" class="presentArticle__section-img" width="180" alt="">
            <h1>Luis San Martín</h1>
            <h2><b>Estudiante Analista Programador</b></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias fugiat eligendi recusandae, possimus est porro nisi atque at cum perferendis unde laudantium illo incidunt voluptates consequatur, in vitae temporibus delectus.</p>
            <ul>
                <label class="presentArticle__section-ul-label">Sigueme en:</label>
                <li><a href="https://www.facebook.com/nacho.sanmartin.169/"><i class="fa-brands fa-square-facebook "></i></a></li>
                <li><a href="https://www.instagram.com/nacho.avi/"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </section>
    </article>

    <article class="secondArticle">
        <section class="secondArticle__section">
            <img src="img/perfil2.jpg" class="secondArticle__section-img" width="180" alt="">
            <h1>Ivan San Martín</h1>
            <h2><b>Estudiante Analista Programador</b></h2>
            <p>Mi nombre es Iván y soy estudiante de programación, actualmente me encuentro desarrollando mi página web en la cual voy aplicando conocimiento de lo aprendido. Con esta página pienso aportar conocimiento de las áreas en las que más me manejo, por lo cual este sera un blog personal. Pronto integrare nuevas cosas.</p>
            <ul>
                <label>Sigueme en:</label>
                <li><a href="https://www.instagram.com/smsivan/"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
            <a class="secondArticle__a" href="https://ivan-sanmartin.com/" >Mi pagina</a>

        </section>
    </article>

    <footer class="footer">
       
        <div class="footer__contactDiv">
            <p>Contactame<p>
        </div>
        <div class="footer__nameInput">
            <label>Nombre:</label>
            <input type="text">
        </div>
        <div class="footer__emailInput">
            <label>Correo:</label>
            <input type="text">
        </div>

        <div class="footer__comentsInput">
            <textarea name="" id="" cols="34" rows="7"></textarea>
        </div>

        <div class="footer__button">
            <button>Enviar</button>
        </div>

        <div class="footer__cpDiv">
            <p>Copyright - Todos los derechos reservados<p>
        </div>

    </footer>
 
    <div>
        <p>
            algo en el div
        </p>
    </div>
     


</body>
</html>